@model  ShoppingCart.ViewModels.UserViewModel
@{
    ViewBag.Title = "Edit Password";
}

<h2>Edit Password</h2>

<!--Edit Password-->
<script type="text/javascript">
    function ResetPassword(User) {       
        $("#Password").val($(User).attr("Password"));
    }

    function SavePassword(User) {
        var formData = new FormData();
        formData.append("UserId",$(User).attr("UserId"));
        formData.append("Password", $("#Password").val());       

        $.ajax({
            async: true,
            dataType: 'JSON',
            type: 'POST',
            contentType: false,
            processData: false,
            url: '/Account/SavePassword',
            data: formData,
            success: function (data) {
                if (data.Success) {
                    alert(data.Message);
                    location.reload();
                }
                else
                    alert(data.Message);
            },
            error: function () {
                alert("There is some problem to saving user, please contact the developer.");
            }
        });
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-4">
            <div class="form-group">
                Id :@Model.UserId
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                Login : @Model.Login
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                Password :
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", autocomplete = "Off", @id = "Password", placeholder = "Password", @type = "password" })
                @Html.ValidationMessageFor(model => model.Password, "Password can't empty", new { @class = "text-danger" })
            </div>
        </div>       
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" value="Save" class="btn btn-primary" UserId="@Model.UserId" onclick="SavePassword(this)" />
                &nbsp;
                <input type="button" value="Reset" class="btn btn-danger" Passoword="@Model.Password" onclick="ResetPassword(this)" />
            </div>
        </div>
    </div>
}

