@model Tuple<ShoppingCart.ViewModels.OrderViewModel, IEnumerable<ShoppingCart.ViewModels.OrderDetailsViewsModel>>

@{
    ViewBag.Title = "Order Detail";
}

<script type="text/javascript">
    function PayOrder(Order) {
        window.location = "../Checkout/Checkout?oid=" + $(Order).attr("OrderId");        
    }

    function CancelOrder(Order) {
        const response = confirm("Are you sure cancel the order(Id:" + $(Order).attr("OrderId") +")?");
        if (response) {
            var formData = new FormData();
            formData.append("OrderId", $(Order).attr("OrderId"));

            $.ajax({
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '/Order/CancelOrder',
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message);
                        location.reload();
                    }
                },
                error: function () {
                    alert("There is some problem. Please contact the developer.");
                }
            });
        }
    }

    function CancelOrderDetail(OrderDetail) {
        const response = confirm("Are you sure cancel this product(ProductCode:" + $(OrderDetail).attr("ProductCode") + ")?");
        if (response) {
            var formData = new FormData();
            formData.append("OrderDetailId", $(OrderDetail).attr("OrderDetailId"));
            formData.append("OrderId", $(OrderDetail).attr("OrderId"));

            $.ajax({
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '/Order/CancelOrderDetail',
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message);
                        location.reload();
                    }
                },
                error: function () {
                    alert("There is some problem. Please contact the developer.");
                }
            });
        }
    }
</script>

<h2>Order</h2>
<table class="table-condensed" style="width: 100%">
    @if (Model != null)
    {
        <tr>
            <td style="border-style:solid">
                <div class="col-md-4">
                    <div class="form-group">
                        Order Id :
                        @Model.Item1.OrderId
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        Order Date :
                        @Model.Item1.OrderDate
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        Order Number :
                        @Model.Item1.OrderNumber
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        Total :$
                        @Model.Item1.Total.ToString("#,##0.00")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        Paid :
                        @Model.Item1.Paid
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        Paid Date:
                        @Model.Item1.PaidDate
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        Valid :
                        @Model.Item1.Valid
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        Invalid Date:
                        @Model.Item1.InvalidDate
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        Delivery Address:
                        @Model.Item1.FullAddress
                    </div>
                </div>
                @if (Model.Item1.Valid && !Model.Item1.Paid)
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="button" value="Pay" class="btn btn-primary" OrderId="@Model.Item1.OrderId" onclick="PayOrder(this)" />
                            <input type="button" value="Cancel" class="btn btn-danger" OrderId="@Model.Item1.OrderId" onclick="CancelOrder(this)" />
                        </div>
                    </div>
                }
            </td>
        </tr>

    }
</table>

<h2>Order Detail</h2>
<table class="table-condensed" style="width: 100%">
    @if (Model != null)
    {
        <tr>
            <td align="center">
                <u>Image</u>
            </td>
            <td align="center">
                <u>Product Code</u>
            </td>
            <td align="center">
                <u>Product Name</u>
            </td>
            <td align="center">
                <u>Quantity</u>
            </td>
            <td align="center">
                <u>Unit Price</u>
            </td>
            <td align="center">
                <u>Sub Total</u>
            </td>
            <td>
            </td>
        </tr>
        foreach (var OrderDetail in Model.Item2)
        {
<tr>
    <td>
        <img src="@Url.Content(OrderDetail.ImagePath)" height="50" width="50" class="img-rounded" />
    </td>
    <td>
        @OrderDetail.ProductCode
    </td>
    <td>
        @OrderDetail.ProductName
    </td>
    <td>
        @OrderDetail.Quantity
    </td>
    <td style="text-align: right">
        $@OrderDetail.UnitPrice.ToString("#,##0.00")
    </td>
    <td style="text-align: right">
        $@OrderDetail.Total.ToString("#,##0.00")
    </td>
   
    <td style="text-align: right">
        @if (Model.Item1.Valid)
        {
            <input type="button" value="Cancel" class="btn btn-success" OrderId="@OrderDetail.OrderId" OrderDetailId="@OrderDetail.OrderDetailId" ProductCode="@OrderDetail.ProductCode" onclick="CancelOrderDetail(this)" />
        }
        </td>
    
    </tr>
        }
    }
</table>


